[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NayreetIslam
[access "refs/for/refs/*"]
	read = group user/NayreetIslam
	push = group user/NayreetIslam
	label-Code-Review = -2..+2 group user/NayreetIslam
	label-Verified = -1..+1 group user/NayreetIslam
	rebase = group user/NayreetIslam
	removeReviewer = group user/NayreetIslam
	submit = group user/NayreetIslam
[access "refs/heads/*"]
	read = group user/NayreetIslam
	create = group user/NayreetIslam
	push = +force group user/NayreetIslam
	pushMerge = group user/NayreetIslam
[access "refs/tags/*"]
	push = group user/NayreetIslam
	push = +force group user/NayreetIslam
